
.video_description  {
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    position: relative;
}

.videoTitle {
    margin-top: 0px;
    font-size: 24px;
    margin-bottom: 1rem;
    color: #fff;
    border-bottom: 2px solid #353946;
}
