.comment_input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #353946;
    color: #fff;
    width: 25%;
}

.comment_input:focus {
    outline: none;
}

.comment_button {
    background-color: #353946;
    color: #fff;
    letter-spacing: 0.5px;
}

.comment_button:focus {
    border: none;
    outline: none;
}